<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="row" id="dashboard">
    <div class="oj-panel oj-margin col-sm-3 dash padding_dashborad">
        <a href="#" data-bind="click: gotoMarketPlace">
            <div class="row">
                <img class="img1" src="../../css/images/icon_big_1.png" alt="marketplace image" width="100" height="100">
            </div>
            <br>
            <div class="row">
                Market Place
            </div>
        </a>
    </div>
    <div class="oj-panel oj-margin col-sm-3 dash padding_dashborad">
        <a href="#" data-bind="click: gotoMyTransaction">
            <div class="row">
                <img class="img1" src="../../css/images/icon_big_2.png" alt="my transactions image" width="100" height="100">
            </div>
            <br>
            <div class="row">
                My Transactions
            </div>
        </a>
    </div>
    <div class="oj-panel oj-margin col-sm-3 dash padding_dashborad">
        <a href="#" data-bind="click: gotoTrace">
            <div class="row">
                <img class="img1" src="../../css/images/icon_big_3.png" alt="track and trace image" width="100" height="100">
            </div>
            <br>
            <div class="row">
                Track and Trace
            </div>
        </a>
    </div>
</div>


<div class="demo-tab-content department_class" id="marketplace" style="display: none;">
    <oj-button id='halfPush1' chroming='half' on-click="[[showDashboard]]">
        <span slot='startIcon' class="oj-fwk-icon oj-fwk-icon-back"></span>
        <b>Back</b>
    </oj-button>
    <div style="font-weight: bold; font-size: 18px; background-color: rgb(98, 111, 122);">
        <span>Departments List</span>
    </div>
    <br>
    <oj-table id='table' aria-label='Departments Table' data='[[dataprovider]]' columns-default.sortable='disabled' columns='[[tableColumns]]'
        style='width: 75%; height: 200px;'>
    </oj-table>

</div>