/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.oracle-background {
    background-image: url(../../css/images/oracle_background_image.jpg);
    background-size: cover;
}

.login_class{
    background-color:rgba(236, 233, 233, 0.5);
    /* opacity: 9.0;     */
}

.department_class{
    background-color:rgba(185, 182, 182, 0.952);
    /* opacity: 9.0;     */
}